* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brownish-grey: #686868;
    --very-light-pink: #ededed;
    --very-light-pink: #bababa;
    --maize: #fbd83f;
    --pinkish-red: #de1214;
    --black: #000;
    --white: #f9f9f9;
    --avocado-green: #83a91c;
    --white: #f9f9f9;
    --dusty-blue: #53adb7;
    --denim-blue: #425798;
    --soft-blue: #55acee;
    --deep-sky-blue: #0084ff;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: var(--white);
    background-color: var(--white);
}

.overflow {
    overflow: hidden;
}

img {
    max-width: 100%;
    outline: none;
    border: 0;
}

.mobile-only {
    display: none;
}

.clear {
    display: table;
    clear: both;
}

ul {
    margin: 0;
    list-style-type: none;
}

a {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
}

b {
    font-weight: 600;
}

.link {
    font-size: 18px;
    color: var(--avocado-green);
    text-decoration: underline;
}

.link-italic{
    font-size: 18px;
    font-style: italic;
    color: var(--avocado-green);
    text-decoration: underline;
}

a:hover {
    color: var(--avocado-green);
    text-decoration: none;
}

.wrapper {
    display: flex;
    max-width: 1000px;
    padding: 0 10px;
    margin: auto;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.center {
    text-align: center;
}

figcaption {
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--brownish-grey);
    margin: -10px 0 20px 0;
}

/***************    header start     ************/
.header-top {
    background-color: var(--white);
    padding: 8px 0;
}

.header-top__nav {
    width: 82%;
    display: inline-block;
    vertical-align: middle;
}

.header-top__nav-item {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--brownish-grey);
}

.header-top__nav-item::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

.header-top__nav-item.upper {
    text-transform: uppercase;
}

.header-top__nav-item a {
    color: var(--brownish-grey);
    font-weight: 700;
    text-decoration: none;
}

.header-top__nav-item a.active,
.header-top__nav-item a:hover {
    color: var(--avocado-green);
    text-decoration: none;
}

.header-top__search {
    width: 18%;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.header-top__search input {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--brownish-grey);
    border: 0;
    padding: 5px 10px;
    background: #fff;
    outline: none;
    transition: 0.3s;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
    transition: 0.3s;
}

.header-top__search input:focus {
    color: var(--avocado-green);
}

input::-webkit-input-placeholder {
    color: var(--brownish-grey);
}

input::-moz-placeholder {
    color: var(--brownish-grey);
}

input:-moz-placeholder {
    color: var(--brownish-grey);
}

input:-ms-input-placeholder {
    color: var(--brownish-grey);
}

.header-top__search input:focus::-webkit-input-placeholder {
    color: var(--avocado-green);
}

.header-top__search input:focus::-moz-placeholder {
    color: var(--avocado-green);
}

.header-top__search input:focus::-moz-placeholder {
    color: var(--avocado-green);
}

.header-top__search input:focus::-ms-input-placeholder {
    color: var(--avocado-green);
}

.header-middle {
    padding: 10px 0;
    background-color: var(--white);
}

.header-middle__logo {
    display: block;
    width: 21%;
    text-align: center;
}

.header-middle__logo p {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--avocado-green);
    text-align: center;
}

.header-middle__banner {
    display: inline-block;
    vertical-align: middle;
    width: 62%;
    height: 90px;
    background: url("../images/banner-top.png");
    background-repeat: no-repeat;
}

.header-bottom {
    border-top: 2px solid #ededed;
    background-color: var(--white);
    -webkit-box-shadow: 0px 7px 5px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 7px 5px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 7px 5px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.header-bottom__nav {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--avocado-green);
}

.header-bottom__nav ul {
    display: table;
    width: 100%;
}

.header-bottom__nav-item {
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 12px 0;
}

.header-bottom__nav-item a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--black);
    padding-right: 22px;
}

.header-bottom__nav-item a.active,
.header-bottom__nav-item a:hover {
    color: var(--avocado-green);
    text-decoration: none;
}

.header-bottom__nav-item:last-child {
    border-right: 0;
}

/***************    header end    ************/
/***************    breadcrumbs start     ************/

.breadcrumbs {
    margin-bottom: 28px;
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: middle;
    color: var(--very-light-pink);
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
}

.breadcrumbs li:not(:last-child)::after {
    content: "/";
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
}

.breadcrumbs li a {
    color: var(--very-light-pink);
    font-weight: 400;
    text-decoration: none;
}

.breadcrumbs li a:hover,
.breadcrumbs li a.active {
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--black);
}

/***************    breadcrumbs end    ************/
.title {
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: var(--black);
    margin-bottom: 25px;
}

/********** category end************/
/*********** info start*******************/
.info {
    display: flex;
    justify-content: space-between;
    font-size: 0;
    border-bottom: 2px solid var(--very-light-pink);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.info__author {
    display: flex;
    vertical-align: top;
    width: 60%;
    padding-right: 10px;
}

.info__author-ava {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}

.info__author-ava img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.info__author-desc {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    padding-left: 10px;
}

.info__author-name {
    text-transform: uppercase;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: bottom;
    max-width: 153px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--black);
}

.info__author-rate {
    padding-left: 10px;
    vertical-align: top;
    display: inline-block;
}

.info__author-rate-star {
    width: 10px;
    height: 10px;
}

.info__author-desc-date,
.info__author-desc-stat,
.info__author-desc-stat li {
    display: inline-block;
    vertical-align: bottom;
}

.info__author-desc-date {
    width: 30%;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--very-light-pink);
}

.info__author-desc-stat {
    width: 70%;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--very-light-pink);
}

.info__author-desc-stat-item {
    margin-right: 5px;
}

.info__author-desc-icon {
    vertical-align: baseline;
}

.eye-icon {
    width: 19px;
    height: 13px;
}

.comm-icon {
    width: 17px;
    height: 16px;
}

.flame-icon {
    width: 13px;
    height: 19px;
}

.info__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: top;
    width: 40%;
    padding-left: 10px;
    color: var(--very-light-pink);
    font-size: 0;
    border-left: 2px solid var(--very-light-pink);
}

.info__social-share {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--very-light-pink);
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.info__social ul {
    display: flex;
    gap: 20px;
}

.info__social-item {
    display: inline-block;
    vertical-align: top;
    transition: 0.2s;
}

.info__social-item a {
    color: #fff;
    display: block;
    height: 30px;
    width: 30px;
    text-decoration: none;
}

/*********** info end ****************/
/***************    main start     ************/

.main {
    width: 66%;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    margin-right: 1%;
}

.article-paragraph {
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    color: var(--black);
    margin-bottom: 20px;
}

.article-img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    font-size: 0;
    max-width: 700px;
    width: 100%;
}

.article-img__left,
.article-img__right {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.article-img--hand {
    max-width: 600px;
}

.article-img--hand .article-img__left {
    width: 58%;
    margin-right: 1%;
}

.article-img--hand .article-img__right {
    width: 40%;
}

.article-quote {
    color: var(--dusty-blue);
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.11;
    letter-spacing: normal;
    border-left: 4px solid;
    padding-left: 6px;
    margin: 30px 0;
}

/* list */

.diary {
    margin-bottom: 25px;
}

.diary__title {
    margin-bottom: 15px;
    padding-left: 55px;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.11;
    letter-spacing: normal;
    color: var(--dusty-blue);
}

.diary__title::before {
    content: "";
    background: url("../images/arrow.svg") no-repeat;
    width: 42px;
    height: 15px;
    position: absolute;
    top: 3px;
    left: 0;
}

.diary__box {
    background: #fff;
    padding: 40px 10px 32px;
}

.diary__intro {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: var(--black);
    margin-bottom: 20px;
    position: relative;
}

.diary__intro::before {
    content: "";
    background: url("../images/quote-icon.png") no-repeat;
    position: absolute;
    left: 0;
    top: -20px;
    width: 68px;
    height: 68px;
}

.diary__day {
    display: grid;
    grid-template-columns: 90px auto;
    column-gap: 9px;
    margin-bottom: 25px;
    margin-left: -10px;
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: var(--black);
    position: relative;
}

.diary__day:lang(el){
    grid-template-columns: 110px auto;
}

.days__caption {
    background-image: url("../images/tab-icon.svg");
    background-position: left center;
    background-size: 90px;
    color: #fff;
    background-repeat: no-repeat;
    display: inline-block;
    width: 90px;
    font-weight: 400;
    padding-left: 20px;
    place-self: start stretch;
}

.days__caption:lang(el){
    background-size: 110px;
    width: 110px;
}

.days__caption span {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--white);
}

/* table */
.table {
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-bottom: 25px;
    font-size: 14px;
    display: table;
    width: 100%;
}

.table img {
    max-height: 105px;
    width: 100%;
}

.table p {
    margin-bottom: 30px;
    text-align: left;
    color: var(--black);
    font-size: 15px;
}

.table__row {
    display: table-row;
}

.table__row:nth-child(1) {
    text-align: left;
    font-weight: 700;
}

.table__row:nth-child(even) {
    background: #fdfdfd;
}

.table__cell {
    display: table-cell;
    vertical-align: top;
    border-right: 1px solid #f0eeee;
    border-bottom: 1px solid #f0eeee;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: var(--black);
}

.table__cell:nth-child(1) {
    width: 50%;
    text-align: left;
    padding: 10px 10px;
    font-weight: 600;
}

.table__cell:nth-child(2) {
    width: 25%;
    text-align: center;
    color: var(--avocado-green);
    font-weight: 700;
    vertical-align: middle;
    font-size: 16px;
}

.table__cell:nth-child(3) {
    text-align: center;
    font-weight: 700;
    color: var(--pinkish-red);
    width: 25%;
    vertical-align: middle;
    font-size: 16px;
}

.table__row:nth-child(1) .table__cell {
    padding: 15px 10px;
}

.table__row:nth-child(1) .table__cell:nth-child(2),
.table__row:nth-child(1) .table__cell:nth-child(3) {
    vertical-align: top;
}

.table__row:nth-child(1) .table__title.table__cell {
    font-size: 28px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: var(--black);
    text-align: left;
    padding: 23px 10px;
}

.form {
    background: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 10px 30px;
    font-size: 0;
    margin-bottom: 30px;
}

.form__prod img {
    display: block;
    width: 100%;
    max-height: 310px;
}

.form__order {
    margin: 0 auto;
    width: 75%;
    font-size: 22px;
    /*padding-bottom: 35px;*/
}

.form__title {
    font-size: 28px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
    margin: 30px 0 20px 0;
}
.b-prices {
    text-align: center;
    margin: -10px 0 10px;
}
.old-price,
.new-price {
    display: inline-block;
    margin: 0 10px;
}
.old-price {
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: var(--brownish-grey);
    position: relative;

}

.old-price::before{
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 2px solid;
    border-color: inherit;
    
    -webkit-transform:rotate(-22deg);
    -moz-transform:rotate(-22deg);
    -ms-transform:rotate(-22deg);
    -o-transform:rotate(-22deg);
    transform:rotate(-22deg);
}
.new-price {
    font-size: 28px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: var(--avocado-green);
}
.b-note {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
    color: var(--avocado-green);
    margin-bottom: 30px;
}

.form input,
.form select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #e8e8e8;
    font-family: "Poppins", sans-serif;
    padding: 12px 15px;
    font-size: 14px;
    outline: none;
}

.form input:focus,
.form select:focus {
    border-color: var(--avocado-green);
}

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
    background: #fff url("../images/sel.png") no-repeat 96% 50%;
}

.form input::-webkit-input-placeholder {
    color: #747474;
}

.form input::-moz-placeholder {
    color: #747474;
}

.form input:-moz-placeholder {
    color: #747474;
}

.form input:-ms-input-placeholder {
    color: #747474;
}

.form input:focus::-webkit-input-placeholder {
    color: transparent;
}

.form input:focus::-moz-placeholder {
    color: transparent;
}

.form input:focus:-moz-placeholder {
    color: transparent;
}

.form input:focus:-ms-input-placeholder {
    color: transparent;
}

.btn {
    background-color: var(--avocado-green);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    border: 0;
    outline: none;
    cursor: pointer;
    position: relative;
    display: block;
    padding: 15px 0;
    width: 100%;
    border-radius: 25px;
}

.tags {
    margin-bottom: 30px;
    font-size: 18px;
}

.tags li {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    margin-right: 20px;
    width: 140px;
}

.tags a {
    display: block;
    padding: 7px 10px;
    font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
    background: var(--dusty-blue);
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
}

.tags a:hover {
    background: var(--avocado-green);
}

.share {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.share li {
    display: inline-block;
    margin-right: 20px;
}

.share a {
    background: #fff;
    border: solid 1px var(--very-light-pink);
    padding: 15px 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.3s;
    width: 140px;
    position: relative;
}

.share a:hover {
    border-color: var(--very-light-pink);
}

.share li:nth-child(1) a {
    font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #3b5998;
}

.share li:nth-child(2) a {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: var(--soft-blue);
}

.share li:nth-child(3) a {
    font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: var(--deep-sky-blue);
}

.fb-square-icon {
    width: 15px;
    height: 15px;
}

.tw-icon {
    width: 19px;
    fill: #3d9bfe;
    height: 16px;
}

.share svg,
.share img {
    vertical-align: text-top;
    display: inline-block;
}

.share svg {
    margin-right: 5px;
}

.read {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    font-size: 0;
}

.read li {
    width: 35%;
}

.read a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    transition: 0.3s;
    font-weight: 400;
}

.read span {
    font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: var(--black);
    padding-left: 10px;
}

.read__icon{
    filter: drop-shadow(0 4px 6px 0 rgba(0, 0, 0, 0.25));
}

/***************    main end    ************/

/***************    comments start     ************/

.comments {
}

.comments__title {
    font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: var(--black);
    border-bottom: 2px solid var(--very-light-pink);
    margin-bottom: 30px;
}

.comments__item {
    margin-bottom: 30px;
}

.comments__item--answer {
    margin-left: 80px;
}

.comments__item::after {
    content: "";
    clear: both;
    display: table;
}

.comments__img {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.comments__img img {
    margin-bottom: 0;
}

.comments__content {
    padding-left: 65px;
}

.comments__name {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 14px;
    font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: var(--black);
    display: inline-block;
    vertical-align: bottom;
    margin-right: 20px;
    text-transform: uppercase;
}

.comments__rate {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 8px;
}

.comments__text {
    margin-bottom: 15px;
    font-size: 18px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: var(--black);
}

.comments__text img {
    margin-top: 15px;
    display: block;
}

.testimonial-02{
    max-width: 700px;
    margin:0 auto;
    width:100%;
}

.comments__date {
    display: inline-block;
    font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: var(--very-light-pink);
    vertical-align: bottom;
    margin-left: 15px;
}

.comments__like {
    display: inline-block;
    vertical-align: bottom;
    font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: var(--very-light-pink);
}

.comments__like-negative,
.comments__like-positive {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
}

.comments__like .heart-icon,
.comments__like span {
    display: inline-block;
    vertical-align: middle;
}

.star-icon,
.star-full-icon {
    width: 10px;
    height: 10px;
}

.heart-icon {
    width: 14px;
    height: 16px;
}

.ac_footer span{
    font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: var(--avocado-green);
}

/***************    comments end    ************/
/***************    aside start     ************/

.aside {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.news {
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    border-top: 2px solid var(--dusty-blue);
    padding: 14px 9px;
    margin-bottom: 5px;
}

.news__title {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: var(--black);
}

.news__item {
    font-size: 0;
    margin-bottom: 25px;
    display: flex;
}

.news li:last-child {
    margin-bottom: 0;
}

.news__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news__img {
    display: inline-block;
    vertical-align: top;
}

.news__img {
    width: 44%;
    position: relative;
}

.news__img img {
    display: block;
}

.news__caption {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    font-size: 12px;
    padding: 4px 4px 4px 8px;
    display: inline-block;
}

.news__caption span {
    position: relative;
    z-index: 1;
    font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #fff;
}

.news__caption::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-top-color: var(--black);
    top: 0;
    right: -11px;
}

.news__caption::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom-color: var(--black);
    bottom: 0;
    right: -11px;
}

.news__caption--health {
    background: var(--avocado-green);
}

.news__caption--health::after {
    border-top-color: var(--avocado-green);
}

.news__caption--health::before {
    border-bottom-color: var(--avocado-green);
}

.news__caption--patient {
    background: var(--dusty-blue);
    width: 75%;
}

.news__caption--patient::after {
    border-top-color: var(--dusty-blue);
}

.news__caption--patient::before {
    border-bottom-color: var(--dusty-blue);
}

.news__caption--useful {
    background: #415897;
    width: 75%;
}

.news__caption--useful::after {
    border-top-color: #415897;
}

.news__caption--useful::before {
    border-bottom-color: #415897;
}

.news__caption--health_2{
    background: var(--avocado-green);
    width: 75%;
}

.news__caption--health_2::after {
    border-top-color: var(--avocado-green);
}

.news__caption--health_2::before {
    border-bottom-color: var(--avocado-green);
}

.news__text {
    width: 56%;
    padding-left: 13px;
    line-height: 1;
}

.news__text a {
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: var(--black);
}

.news__text a:hover {
    color: var(--avocado-green);
    text-decoration: none;
}

.news__box {
    font-size: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.news__date,
.news__stat {
    font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: var(--very-light-pink);
    display: flex;
    align-items: end;
}

.news__stat {
    text-align: right;
}

.news__watch,
.news__comm {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap:5px;
}

.news__watch {
    margin-right: 5px;
}

.news__watch .eye-icon,
.news__watch span,
.news__comm .comm-icon,
.news__comm span {
    display: inline-block;
    vertical-align: baseline;
}

.news__item--main {
    display: block;
}

.news__item--main .news__img {
    display: block;
    width: 100%;
    margin-bottom: 13px;
}

.news__item--main .news__text {
    padding-left: 0;
    width: 100%;
}

.aside-banner {
    padding-top:25px;
    color: #fff;
    position: relative;
}

.aside-banner__text {
    font-size: 0;
    position:absolute;
    bottom:0;
    left:0;
    padding:10px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap:25px;
}

.aside-banner__text-left {
    font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: var(--white);
  text-align: left;
    width: 55%;
}

.aside-banner__text-right {
    width: 45%;
}

.aside-banner__text-left span {
    display: block;
}

.aside-banner__text-left span:nth-child(1) {
    font-size: 14px;
}

.aside-banner__text-left span:nth-child(2) {
    font-size: 25px;
    font-weight: 900;
}

.aside-btn {
    background: var(--avocado-green);
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 5px;
    width: 100%;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
    display: block;
    text-align: center;
}

.aside-btn:hover {
    border-color: var(--dusty-blue);
    color: #fff;
    background: var(--dusty-blue);
}
.note {
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
    color: var(--avocado-green);
    font-weight: bold;
}
/***************    aside end    ************/

.input-field{
    border-radius: 25px;
    border: solid 1px var(--very-light-pink);
    background-color: var(--white);
}

.iti--separate-dial-code .iti__selected-flag{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

form .iti .iti__selected-dial-code,
.iti__country-name{
    color: var(--very-light-pink);
    font-weight: 400;
}